body{
}
.entry{
font-family: Tahoma, Arial;
font-size: 18 px;
direction: rtl;
text-align: right;
font-weight: bold;
color: #DC002A;
}

.def{
font-family: Tahoma, Arial;
font-size: 16 px;
color: #242120;
direction: rtl;
text-align: right;
word-break: break-all;
}